<center><%= avatar @user %></center>
<h1><%= @user.username %></h1>
<h2>Questions:</h2>
<% @user.questions.each do |question| %>
  <%= render question %><hr>
<% end %>

<h2>Answers:</h2>
<% @user.answers.each do |answer| %>
  <%= render answer %>
<% end %>