<div>
  <%= form_for(answer) do |f| %>
    Reply: <%= f.text_field :content, placeholder: "answer here", required: true %>
    <%= f.submit "Submit answer", class: "btn btn-primary" %>
  <% end %>
</div>