<div class="center jumbotron">
  <h1>Welcome to dashdashhelp</h1>

  <h2>
    Ask a question, answer a question, help your classmates! :)
  </h2>

  <%= link_to "Sign up", sign_up_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign in", sign_in_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign in with Github", '/auth/github', class: "btn btn-lg btn-primary" %>
</div>