<% if model.errors.any? %>
  <div id="error_explanation"> 
    <div class="alert alert-danger">
      Oops! You made <%= pluralize(model.errors.count, "error") %>.
    </div>
    <ul>
      <% model.errors.full_messages.each do |m| %>
        <li><%= m %></li>
        <% end %>
    </ul>
  </div>
<% end %>