<!DOCTYPE html>
<html>
  <head>
    <title>Dashdashhelp</title>
    <%= render 'layouts/rails_head' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "--help", '/', id: "logo" %>
      </div>
    </header>
    <div class="container">
    <%= render 'layouts/sign_in' %>
    <%= yield %>
  </body>
</html>
